<%- include ('templates/header'); -%>
<%- include ('templates/nav'); -%>

<div class="container">
  <div class="card-deck mb-3 text-center">
   
  <!-- Category table -->
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Movies</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Geography</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Science</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>History</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Technology</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cars</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Health</td>
      
    </tr>
  </tbody>
  </table>

  </div>
<script>
        $("#navCategory").addClass("active");
</script>
<%- include ('templates/footer'); -%>