<%- include ('templates/header'); -%>
<%- include ('templates/nav'); -%>

<br><br>
<div class="container">
  <div class="card-deck mb-3 text-center">

  <!-- Search friends -->
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search friends" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
   
  <!-- Friends container -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Friends list</h4>
      </div>
      <div class="card-body">
        
        <ul class="list-unstyled mt-3 mb-4">
          <li>Friends</li>
      
        </ul>
       </div>
    </div>
  
  <!-- Friends request -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Friends Request</h4>
      </div>
      <div class="card-body">
        
        <ul class="list-unstyled mt-3 mb-4">
          <li>Friends list</li>
      
        </ul>
       </div>
    </div>
  
<script>
        $("#navFriends").addClass("active");
</script>
<%- include ('templates/footer'); -%>