<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h3> TRIVIA </h3>
	</div>
	
	<div>
	    <button>Home</button>
	</div>
    
    <div>
        <button>Categories</button>
    </div>
    
    <div>
        <button>Friends</button>
    </div>

<%- include ('templates/footer'); -%>