<%- include ('templates/header'); -%>
<div class='container'>
    <div class='jumbotron'>
        <h1>Welcome to Trivia</h1>
        <a class='btn' href='/login'>Login</a>
		<a class='btn' href='/register'>Register</a>
    </div>
    
</div>


<%- include ('templates/footer'); -%>