<%- include ('templates/header'); -%>
<%- include ('templates/nav'); -%>

<div class="container">
  <div class="card-deck mb-3 text-center">

  	<!-- Recent activity -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Recent activity</h4>
      </div>
      <div class="card-body">
        
        <ul class="list-unstyled mt-3 mb-4">
          <li>American History 4/5 400pts</li>
          <li>Pop   2/5 240pts</li>
        </ul>
        
      </div>
    
    <!-- Random category -->
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Random category</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Categories here</li>
        </ul>
      </div>
    </div>

    <!-- Random Trivia -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Random Trivia</h4>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-lg btn-block btn-primary">Take</button>
      </div>
    </div>
  </div>
</div>
<script>
        $("#navHome").addClass("active");
</script>

<%- include ('templates/footer'); -%>