body{
	margin: 10px 0px auto auto;
	text-align: center;
	background-color: #19181A; /*black */
	color: #66fcf1;
}
.jumbotron{
	background-color: #1f2833;
	border-radius: 8px;
	color: #66fcf1;
	
}
.btn{
	border-color: #66fcf1;
	background-color: #1f2833; /* dark blue*/
	color: #66fcf1; /* teal */
}
table {
	text-align: left;
}
.container{
	width: 50%;
	background-color: #1f2833;
	padding: 0 25px 40px 10px;
	border:2px solid #66fcf1;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #66fcf1;
	margin-top: 20px;
}
ul {
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding: 0px;
}
#prev, #next{
	margin-top: 20px;
}
.nav-custom{
	margin-bottom: 25px;
	background-color: #1f2833;
}
thead{
	color: #66fcf1;
}
tbody{
	color: #66fcf1;
}
table{
	table-layout: fixed;
	width: 100%;
}
.card{
	background-color: #1f2833; 
	margin-top: 30px;
}