<nav class="navbar navbar-expand-sm nav-custom navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item" id="navHome">
                <a class="nav-link" href="/welcome" >Home</a>
            </li>
            <li class="nav-item" id="navCategory">
                <a class="nav-link" href="/categories" >Categories</a>
            </li>
            <li class="nav-item" id="navFriends">
                <a class="nav-link" href="/friends" >Friends</a>
            </li>
        </ul>
         <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
</nav>